*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif 10;
}

.menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    text-align: center;
    justify-content: center;
    }

.menu_item{
    margin-left: 10px;
    font-size: 40px;
}

main{
    background-color: rgb(211, 203, 91);
}

.form{
    margin-left: 10px;
    margin-top: 10px;
}


span:hover{
    border-bottom:  1px solid #000;
}

 footer{
    margin: 10px;
    padding: 20px;
    color: white;
 }

 .main-contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-grid{
    width: 100px;
    height: 150px;
    margin-left: 20px ;
}

#formContact{
    margin-left: 50% ;
}

h2{
    margin: 20px;
}

.informacion{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin: 20px;
    padding: 10px;
}

.grilla-productos{
    p{
        margin-left: 20px;
    }
}

